@use "./color";

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .places {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }

  .disclaimer {
    color: color.$buttonText;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .weatherCard {
    max-width: 400px;
    max-height: 200px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: color.$button;
    color: color.$buttonText;
    p {
      font-size: 2rem;
    }
  }
}
