@use "@/styles/_color";
.departureGrid {
  display: flex;
  gap: 10px;
  .departureCard {
    position: relative;
    background-color: color.$card;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 color.$background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 16px;
    width: 100%;
    text-align: right;
    color: color.$buttonText;
    .info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .departureTime {
        font-size: 1.5rem;
      }
    }
    span {
      font-size: 1.5rem;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: color.$button;
    }
    p {
      margin: 0;
    }
  }
}
